<% layout('../layouts/layout') %>
<link rel="stylesheet" type="text/css" href="css/views/auth.css">
<script type="text/javascript" src="js/auth.js"></script>

<div class="wrapper">
  <div class="greeting">
    <p class="greeting__title">Пожалуйста, авторизуйтесь, чтобы продолжить работу</p>
  </div>

  <form class="auth-form" method="POST" action="verify-auth">
    <input type="text" name="login">
    <input type="password" name="password">
    <button class="auth-form__button-submit">Войти</button>
  </form>
</div>