<!DOCTYPE html>
<html>

  <title><%= data.title %></title>



<head>
           <link href="/css/navigation_menu.css" rel="stylesheet" type="text/css">
           <link href="/css/base_buttons.css" rel="stylesheet" type="text/css">
           <link href="/css/style.css" rel="stylesheet" type="text/css">

            <script type="text/javascript" src="/components/jquery/dist/jquery.js"></script>
            <script type="text/javascript" src="/components/jquery-ui/jquery-ui.js"></script>


</head>
<body>

<div class="b-popup">
    <div class="b-popup-content">
    </div>
</div>
<nav role="navigation">
    <ul>
      <li>
        <a class="" href="/databases">Базы данных</a>
      </li>
      <li>
        <a class="" href="/dbschemas">Шаблоны поиска</a>
      </li>
<!--
      <li>
        <a class="" href="/tables">Таблицы</a>
      </li>
      <li>
        <a class="" href="/columns">Колонки</a>
      </li>
-->
<!--
      <li>
        <a class="" href="#">Шаблоны</a>
        <ul>
        <li>
          <a class="" href="#">Шаблоны поиска</a>
        </li>
        <li>
          <a class="" href="#">
             Шаблоны документов</a>
        </li>
        <li>
          <a class="" href="#">Шаблоны рубрик</a>
        </li>
        <li>
          <a class="" href="#">Шаблоны карт знаний</a>
        </li>
        <li>
          <a class="" href="#">Оповещения</a>
        </li>
        <li>
          <a class="" href="#">Поиск</a>
        </li>
        </ul>
      </li>
      <li>
        <a class="" href="#">Свойства</a>
        <ul>
          <li>
            <a class="" href="#">Дескрипторы</a>
          </li>
          <li>
            <a class="" href="#">Атрибуты</a>
          </li>
          <li>
            <a class="" href="#">Профиль</a>
          </li>
        </ul>
          </li>

          <li>
            <a class="edit-access-user" href="#">ALD-User:</a>
            <ul>
              <li>
                <a class="all-users" href="">Список пользователей</a>
              </li>
            </ul>
          </li>
          -->
          <li>
            <a href="/signout" id="logout">
              <img src="/img/logout.png">
            </a>
          </li>
    </ul>
    <div class="user-info">
      <p class="user-info__user-name">
        <span><%= data.user %></span>
      </p>
    </div>
</nav>



<div id="content" class="_inline-block">
      <%-body -%>

</div>

<!--
    <footer>
    </footer>
    -->
</body>