<!DOCTYPE html>
<html>

  <title><%= data.title %></title>



<head>
           <link href="/css/navigation_menu.css" rel="stylesheet" type="text/css">
           <link href="/css/base_blocks.css" rel="stylesheet" type="text/css">
           <link href="/css/style.css" rel="stylesheet" type="text/css">


           <link href="/css/base_classes.css" rel="stylesheet" type="text/css">
           <link href="/css/base_buttons.css" rel="stylesheet" type="text/css">
           <link href="/css/pagination.css" rel="stylesheet" type="text/css">
           <link href="/_fw/libraries/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" type="text/css">
           <link href="/_fw/libraries/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" type="text/css">
           <link href="/_fw/libraries/jquery-ui-1.11.4.custom/jquery-ui.structure.css" rel="stylesheet" type="text/css">
           <link href="/_fw/libraries/jquery-ui-1.11.4.custom/jquery-ui.structure.min.css" rel="stylesheet" type="text/css">
           <link href="/_fw/libraries/jquery-ui-1.11.4.custom/jquery-ui.theme.css" rel="stylesheet" type="text/css">
           <link href="/_fw/libraries/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet" type="text/css">
           <link href="/pages/profile/profile.css" rel="stylesheet" type="text/css">
                <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
            <script type="text/javascript" src="/_fw/libraries/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
            <script type="text/javascript" src="/_fw/libraries/jquery.validate.js"></script>
            <script type="text/javascript" src="/_fw/libraries/jquery.cookie.min.js"></script>
            <script type="text/javascript" src="/_fw/libraries/jquery.form.js"></script>
            <script type="text/javascript" src="/js/javascript.js"></script>
            <script type="text/javascript" src="/js/search.js"></script>
            <script type="text/javascript" src="/js/forms.js"></script>
            <script type="text/javascript" src="/js/script_set_access.js"></script>

</head>
<body>

<div class="b-popup">
    <div class="b-popup-content">
    </div>
</div>
<nav role="navigation">
    <ul>
      <li>
        <a class="" href="#">Базы данных</a>
      </li>
      <li>
        <a class="" href="#">Управление знаниями</a>
      </li>
      <li>
        <a class="" href="#">Шаблоны</a>
      <ul>
      <li>
        <a class="" href="#">Шаблоны поиска                                </a>
      </li>
      <li>
        <a class="" href="#">
           Шаблоны документов                                </a>
      </li>
      <li>
      <a class="" href="#">
                                    Шаблоны рубрик                                </a>
      </li>
                                                    <li>
                                <a class="" href="#">
                                    Шаблоны карт знаний                                </a>
                            </li>
                                                    <li>
                                <a class="" href="#">
                                    Оповещения                                </a>
                            </li>
                                                    <li>
                                <a class="" href="#">
                                    Поиск                                </a>
                            </li>
                                            </ul>
                            </li>
                    <li>
                <a class="" href="#">Свойства</a>
                                    <ul>
                                                    <li>
                                <a class="" href="#">
                                    Дескрипторы                                </a>
                            </li>
                                                    <li>
                                <a class="" href="#">
                                    Атрибуты                                </a>
                            </li>
                                                    <li>
                                <a class="" href="#">
                                    Профиль                                </a>
                            </li>
                                            </ul>
                            </li>
                    <li>
                <a class="" href="#">Логи</a>
                            </li>
                    <li>
                <a class="edit-access-user" href="#">ALD-User:</a>
                                    <ul>
                                                    <li>
                                <a class="all-users" href="">
                                    Список пользователей                                </a>
                            </li>
                                            </ul>
                            </li>
                <li><a id="logout"><img src="/img/logout.png"></a></li>
        <!--        <li><p>&nbsp;</p><p align="right" color="#00FF00;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;principal Kerberos: </p></li> -->
        <li><p>&nbsp;</p><p color="#00FF00;" align="right"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></li>
    </ul>
</nav>



<div id="content" class="_inline-block">
      <%-body -%>
    <p>Содержание</p>
</div>

</form>    </div>
    <footer>
        <p>-------------------------------------------------------------------------------------------</p>
    </footer>
</body>