    <% layout('../layouts/layout') %>
    <link rel="stylesheet" type="text/css" href="css/views/schemas.css">
    <script type="text/javascript" src="js/schemas.js"></script>
  <div class="dbinfo">
    <h3 class="dbinfo__title">Схемы БД</h3>
    <p class="dbinfo__dbname">Вы выбрали базу данных <span><%=data.database%></span></p>
    <div>
  </div>
    <div class="wrapper">
    <% if (data.database) { -%>


      <form class="wrapper__form" method="POST" action="tables">
      <input type="hidden" name="dbname" value="<%= data.database%>">


      <div class="dbschemas">
        <ul class="dbschemas__list list-float-none">
        <% data.list.forEach(function(schema) { %>
          <li class="dbschemas__list__item standart-button">
            <p>
              <span class="dbschemas__list__item__schema-name">
                <input type="radio" name="schemaname" value="<%= schema.schema_name %>">
                <span><%= schema.schema_name %></span>
              </span>
            </p>
          </li>
        <% }); %>
        </ul>
      </div>


      <div class="submit">
        <button class="submit__button click-button" type="submit">
          ДАЛЕЕ
        </button>
      </div>
      </form>


    <% } else { -%>

      <div class="no-search-data-info">
        <p class="no-search-data-info__text">
          Выберите схему
        </p>
      </div>
    <% } -%>
    </div>
    </div>
