<% layout('../layouts/layout') %>
<link rel="stylesheet" type="text/css" href="css/views/structure.css">
<div class="database-info">

    <p class="database-info__title">
      Вы выбрали базу данных <%= data.database %> и схему <%= data.schema %>
    </p class="database-info__title">
    <div class="database-info__search-info">
      <p class="database-info__search-info__view-info">
        Поисковое представление создано
      </p>
      <a class="database-info__search-info__search-button click-button" href="bigsearch">
        <img src="/img/search.png">
        <span>Перейти к поиску</span>
      </a>
    </div>
</div>
<div class="columns-info">
  <p class="columns-info__title">Поля представления: </p>
  <ul id="columns-list" class="columns-info__list list-float-none">
  <% data.columns.forEach(function(column) {%>

    <li class="columns-info__list__item standart-button "><p><%= column %></p></li>

  <% }); %>
  </ul>

</div>