<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

 <div>
 <form method="POST" action="dbschema">
  <table class="database-select-table">
    <tr class="database-select-table__row">
      <th>
        <p>База данных</p>
      </th>
      <th>
        <p>Владелец</p>
      </th>
    </tr>
    {{#each data}}
    <tr class="database-select-table__row">
      <td>
        <p><input type="radio" name="dbname" value="{{Database}}">{{Database}}</p>
      </td>
      <td>
        <p>{{Owner}}</p>
      </td>
    </tr>
    {{/each}}
  </table>
  <div class="submit">
    <button class="submit__button" type="submit">Далее</button>
  </div>
  </form>
 </div>
</body>
</html>