<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<p>ce kavo</p>
 {{#each data}}
 <div>
   <div>
      <p>База данных: </p>
      <p>{{Database}}</p>
    </div>
    <div>
      <p>Владелец: </p>
      <p>{{Owner}}</p>
  </div>
 </div>
 {{/each}}
</body>
</html>