
<% layout('../layouts/layout') %>
<link rel="stylesheet" type="text/css" href="css/views/databases.css">
 <div class="wrapper">
 <form class="wrapper__form" method="POST" action="dbschemas">

<div class="installed-databases">
  <ul class="installed-databases__list list-float-none">
    <li class="installed-databases__list__item_title">
      <p>
        <span>База данных</span>
        <span>Владелец</span>
      </p>
    </li>
    <% data.list.forEach(function(item) {%>
      <li class="installed-databases__list__item standart-button">
        <p>

          <span class="installed-databases__list__item__dbname">
            <input type="radio" name="dbname" value="<%= item.Database %>">
            <span><%= item.Database %></span>
          </span>
          <span class="installed-databases__list__item__ownername"><%= item.Owner %></span>
        </p>
      </li>
    <% }); %>
  </ul>
</div>

  <div class="submit">
    <button class="submit__button click-button" type="submit">ДАЛЕЕ</button>
  </div>
  </form>
 </div>
