.wrapper{
  width: 70%;
  margin: 10% auto 0 auto;

}

.registration{
  margin: 0 auto 100px auto;
  &__title{
    font-size: 30px;
  }
}

.register-form{
  & input{
    display: block;
    height: 20px;
    margin: 20px auto;
    padding: 6px 5px 5px 5px;
    font-size: 20px;
  }
  &__button-submit{
    display: block;
    margin: 20px auto;
  }

}

.error{
  border-color: red;
}