.entities-info{
  margin: 50px auto 0 auto;

  &__title{
    font-size: 30px;
  }
}

.dbentities{
  width: 50%;
  font-size: 20px;
  margin: 20px auto 0px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgb(209, 211, 211);
  &__list {
    &__item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;



      &__left{
        text-align: left;
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__entity-content{
          width: 75%;
        }
        & .columns-list{
          &__item{
            text-align: left;
          }
        }
        &__en-title{
          font-weight: bold;
          font-size: 21px;
        }
        &__link-status{
          font-weight: bold;
        }
      }



      &__right{
        text-align: right;
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & .columns-list{
          &__item{
            text-align: right;
          }
        }
        &__en-title{
          font-weight: bold;
          font-size: 21px;
        }
        &__link-status{
          font-weight: bold;
        }
      }

      &__middle{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
      }
    }
  }
}

.columns-list{
  &__item{
    font-size: 17px;
  }
}

.dbinfo{
  width: 100%;
  margin-top: 40px;
  &__title{
    font-size: 30px;
  }
  &__dbname{
    font-size: 25px;
    & span{
      font-weight: bold;
    }
  }
}

.dbtables{
  width: 50%;
  margin: 40px auto;

  border: 1px solid #D1D3D3;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 40px;

  &__list{
    &__item{
      display: flex;
      & input{
        margin-top: 3px;
      }
      height: 60px;
      & p{
          font-size: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
    }
  }
}

.submit {
  width: 100%;
  margin-bottom: 130px; }


  .no-search-data-info{
  height: 100px;
}
.no-search-data-info__text{
  font-size: 20px;
}

