.wrapper {
  width: 50%;
  margin: 40px auto 0 auto; }

.installed-databases {
  border: 1px solid #D1D3D3;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 40px; }

.installed-databases__list__item {
  height: 60px;
  display: flex; }
  .installed-databases__list__item__ownername {
    float: right; }
  .installed-databases__list__item p {
    margin: 10px 0;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .installed-databases__list__item__dbname input {
    margin-top: 3px; }
  .installed-databases__list__item_title {
    font-size: 20px;
    font-weight: bold; }
    .installed-databases__list__item_title p {
      margin: 10px 0;
      font-size: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }

.submit {
  width: 100%;
  margin-bottom: 130px; }
