.entities-info {
  margin: 50px auto 0 auto; }

.dbentities-links__title {
  font-size: 30px; }

.dbentities {
  width: 60%;
  font-size: 20px;
  margin: 20px auto 0px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #d1d3d3; }
  .dbentities__list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .dbentities__list__item__left {
      text-align: left;
      width: 200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .dbentities__list__item__left__entity-content {
        width: 75%; }
      .dbentities__list__item__left .columns-list__item {
        text-align: left; }
      .dbentities__list__item__left__en-title {
        font-weight: bold;
        font-size: 24px; }
      .dbentities__list__item__left__link-status {
        font-weight: bold;
        font-size: 40px; }
    .dbentities__list__item__right {
      text-align: right;
      width: 200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .dbentities__list__item__right__entity-content {
        width: 75%; }
      .dbentities__list__item__right .columns-list__item {
        text-align: right; }
      .dbentities__list__item__right__en-title {
        font-weight: bold;
        font-size: 24px; }
      .dbentities__list__item__right__link-status {
        font-weight: bold;
        font-size: 40px; }
    .dbentities__list__item__middle {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-weight: bold; }

.link-status-many {
  color: #ff5858; }

.link-status-one {
  color: #545454; }

.columns-list__item {
  font-size: 15px; }

.dbinfo {
  width: 100%; }
  .dbinfo__title {
    font-size: 30px;
    margin: 50px auto; }
  .dbinfo__dbname {
    font-size: 25px; }
    .dbinfo__dbname span {
      font-weight: bold; }

.dbtables {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #D1D3D3;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 40px; }
  .dbtables__list__item {
    display: flex;
    height: 60px; }
    .dbtables__list__item input {
      margin-top: 3px; }
    .dbtables__list__item p {
      font-size: 20px;
      display: flex;
      flex-direction: row;
      align-items: center; }

.submit {
  width: 100%;
  margin-bottom: 130px; }

.no-search-data-info {
  height: 100px; }

.no-search-data-info__text {
  font-size: 20px; }
