.entities-info {
  margin: 50px auto 0 auto; }
  .entities-info__title {
    font-size: 30px; }

.dbentities {
  width: 50%;
  font-size: 20px;
  margin: 20px auto 0px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #d1d3d3; }

.dbinfo {
  width: 100%;
  margin-top: 40px; }
  .dbinfo__title {
    font-size: 30px; }
  .dbinfo__dbname {
    font-size: 25px; }
    .dbinfo__dbname span {
      font-weight: bold; }

.dbtables {
  width: 50%;
  margin: 40px auto;
  border: 1px solid #D1D3D3;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 40px; }
  .dbtables__list__item {
    display: flex;
    height: 60px; }
    .dbtables__list__item input {
      margin-top: 3px; }
    .dbtables__list__item p {
      font-size: 20px;
      display: flex;
      flex-direction: row;
      align-items: center; }

.submit {
  width: 100%;
  margin-bottom: 130px; }

.no-search-data-info {
  height: 100px; }

.no-search-data-info__text {
  font-size: 20px; }
