.templates-info {
  margin-top: 50px;
  margin-bottom: 50px; }
  .templates-info__title {
    font-weight: bold;
    font-size: 20px; }

.template-item-info {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  align-content: stretch; }
  .template-item-info__name {
    font-weight: bold; }
  .template-item-info p {
    padding: 0;
    margin: 5px auto;
    font-size: 18px; }
