<% layout('../layouts/layout') %>
<script type="text/javascript" src="/components/devbridge-autocomplete/dist/jquery.autocomplete.js"></script>
<link rel="stylesheet" type="text/css" href="css/views/big-search.css">

<script type="text/javascript" src="/components/handlebars/handlebars.js"></script>
<script type="text/javascript" src="/js/big-search-data.js"></script>
<script type="text/javascript" src="/js/big-search-interface.js"></script>
<script type="text/javascript" src="/js/big-search-requests.js"></script>
<script type="text/javascript" src="/js/big-search-viewing.js"></script>
<!-- Шаблоны -->
<%- include templates.ejs %>
<!-- Шаблоны(конец) -->



<section class="main">
<% if (data.searchData) { -%>

  <div class="search-data" style="display: none;">
    <span id="database"><%= data.searchData.database %></span>
    <span id="schema"><%= data.searchData.schema %></span>
  </div>


  <div class="groups-manage-aligment">

    <a id="search-completer" class="click-button" href="completion">
      Завершить поиск
    </a>
    <button id="view-properties" class="content-action click-button">
      Настройка вывода
    </button>
    <button id="groups-viewer" class="content-action click-button">
      Просмотр всех групп
    </button>
    <button id="groupsAdder" class="content-action click-button">
      Добавить группу условий
    </button>

  </div>

      <form id="form0" class="descriptors-form" action="">
        <div class="content-actions">
          <p class="add-tag content-action click-button">Добавить тег</p>
          <p class="add-not-tag content-action click-button">Отсутствие тега</p>
          <p class="add-attr content-action click-button">Добавить атрибут</p>
          <p class="check content-action click-button"><img src="/img/search.png" alt="Побробно"></p>
          <p class="edit-group content-action click-button">Редактировать группу</p>
        </div>
        <div class="descriptors-content">
          <p class="empty-content">Добавьте дескрипторы</p>
        </div>
      </form>


  <button value="Найти" class="click-button" id="btn">Найти</button>

  <div id="results">
    <p>Задайте условия поиска</p>
  </div>

  <%- include modals.ejs %>

  <% } else { -%>

  <div class="no-search-data-info">
    <p class="no-search-data-info__text">Не заданы параметры для поиска</p>
  </div>

<% } -%>
  </section>
