<% layout('../layouts/layout') %>
<link rel="stylesheet" type="text/css" href="css/views/big-search.css">

<script type="text/javascript" src="/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/js/big-search-data.js"></script>
<script type="text/javascript" src="/js/big-search-interface.js"></script>


<section class="main">
            <div class="groups-manage-aligment">
                <button id="groupsAdder" class="content-action click-button">Добавить группу условий</button>
                <button id="groups-viewer" class="content-action click-button">Просмотр всех групп</button>
            </div>



      <form id="form0" class="descriptors-form" action="">
        <div class="content-actions">
          <p class="add-tag content-action click-button">Добавить тег</p>
          <p class="add-not-tag content-action click-button">Отсутствие тега</p>
          <p class="add-attr content-action click-button">Добавить атрибут</p>
          <p class="check content-action click-button"><img src="/img/search.png" alt="Побробно"></p>
          <p class="edit-group content-action click-button">Редактировать группу</p>

        </div>
        <div class="descriptors-content">
          <p class="empty-content">Добавьте дескрипторы</p>
        </div>

      </form>


  <button value="Найти" class="click-button" id="btn">Найти</button>

  <div id="results">
    <p>Задайте условия поиска</p>
  </div>

  <div id="modal-windows">



      <!-- Модальные окна -->
  <div id="modal-tags-add" class="modal-window" style="display:none;">
    <div class="modal-title">
      <p class="title">Введите новый тег</p>
    </div>
    <span class="modal-close">×</span>
    <div class="modal-content">
      <input autocomplete="off" placeholder="Введите новый тег" id="input-tag" class="input" type="text">
      <span class="modal-action add-action-button">Добавить</span>
      <input class="descriptor-id" name="1" type="hidden">
      <input class="form-id" type="hidden">
            <div class="message" style="display: none;">
                <span class="message-info">Дескриптор добавлен</span>
            </div>
    </div>
    <div class="autocomplete-aligm"><div style="position: absolute; display: none; max-height: 400px; width: 320px; z-index: 7;" class="autocomplete-suggestions"></div></div>

  </div>
  <div id="modal-not-tags-add" class="modal-window" style="display:none;">
    <div class="modal-title">
      <p class="title">Введите отсутствующий тег</p>
    </div>
    <span class="modal-close">×</span>
    <div class="modal-content">
      <input autocomplete="off" placeholder="Введите новый тег" id="input-not-tag" class="input" type="text">
      <span class="modal-action add-action-button">Добавить</span>
      <input class="descriptor-id" name="3" type="hidden">
      <input class="form-id" type="hidden">
            <div class="message" style="display: none;">
                <span class="message-info">Дескриптор добавлен</span>
            </div>
    </div>
    <div class="autocomplete-aligm"><div style="position: absolute; display: none; max-height: 400px; width: 320px; z-index: 7;" class="autocomplete-suggestions"></div></div>
  </div>
  <div id="modal-attr-add" class="modal-window" style="display:none;">
    <div class="modal-title">
      <p class="title">Добавьте новый атрибут</p>
    </div>
    <span class="modal-close">×</span>
    <div class="modal-content">
      <input autocomplete="off" id="input-attr" placeholder="Введите новый атрибут" class="input" type="text">
      <span class="modal-action add-action-button">Добавить</span>
      <select name="relation" class="rel-select">
        <option selected="selected" disabled="" value="default">Отношение</option>
        <option value="=">=</option>
        <option value="!=">!=</option>
        <option value=">">&gt;</option>
        <option value="<">&lt;</option>
        <option value="like">~</option>
      </select>
      <input class="attr-number input" placeholder="Значение" type="text">

      <input class="descriptor-id" name="2" type="hidden">
      <input class="form-id" type="hidden">
            <div class="message" style="display: none;">
                <span class="message-info">Дескриптор добавлен</span>
            </div>
    </div>
    <div class="autocomplete-aligm"><div style="position: absolute; display: none; max-height: 400px; width: 320px; z-index: 7;" class="autocomplete-suggestions"></div></div>
  </div>
    <!--Редактирование одного тега -->
  <div id="modal-edit-descriptor" class="modal-window" style="display:none;">
    <div class="modal-title">
      <p class="title">Редактировать дескриптор</p>
      <span class="modal-close">×</span>
    </div>
    <div class="modal-content">
      <input class="edit-desc input" type="text">
      <span class="modal-action edit-action-button">Сохранить</span>
      <input class="descriptor-id" name="3" type="hidden">
      <input class="form-id" name="0" type="hidden">
    </div>
  </div>
    <!--Редактирование одного тега -->

    <!-- Редактирование формы -->
  <div id="edit-group" class="edit-window" style="display:none;">
    <div class="modal-title">
      <p class="title">Редактировать группу</p>
    </div>
    <span class="modal-close">×</span>
    <div class="edit-content modal-content">
      <div id="descriptors">
      <!--
        <div class="descriptor-item tag-edit">
          <input type="text" class="edit-input-tag input">
          <input type="hidden" class="descriptor-id" name="1">
        </div>
        <div class="descriptor-item attr-edit">

          <input type="text" class="edit-input-attr input">
          <select name="relation" class="rel-select">
            <option selected="selected" disabled="" value="default">Отношение</option>
            <option value="equal">=</option>
            <option value="notequal">!=</option>
            <option value="right">></option>
            <option value="left"><</option>
            <option value="like">~</option>
          </select>
          <input type="text" class="attr-number input">
          <input type="hidden" class="descriptor-id" name="2">


        </div>

        <div class="descriptor-item not-tag-edit">
          <input type="text" class="edit-input-not-tag input">
          <input type="hidden" class="descriptor-id" name="3">
        </div>
        -->
      </div>


      <input class="form-id" type="hidden">
      <div class="edit-action" style="display:none;">
        <span class="modal-action edit-action-button">Сохранить</span>
      </div>
            <div class="message" style="display: none;">
                <span class="message-info">Отредактировано</span>
            </div>
    </div>
  </div>
    <!-- Редактирование формы -->


    <div id="view-groups" class="modal-window" style="display: none;">
        <div class="modal-title">
            <p class="title">Просмотр всех групп</p>

        </div>
        <span class="modal-close">×</span>
        <div class="modal-content">
            <div class="groups-aligment">
            <!--
                <div class="conditions-group">
                    <div class="included-tags">
                        <div class="included-title"><p>Теги: </p></div>
                        <div class="included-tags-content">
                            <div class="item">
                                <span class="value">ce kavo</span>
                            </div>
                            <div class="item">
                                <span class="value">1312</span>
                            </div>
                            <div class="item">
                                <span class="value">ce kavo</span>
                            </div>
                            <div class="item">
                                <span class="value">1312</span>
                            </div>
                            <div class="item">
                                <span class="value">ce kavo</span>
                            </div>
                            <div class="item">
                                <span class="value">1312</span>
                            </div>
                            <div class="item">
                                <span class="value">ce kavo</span>
                            </div>
                            <div class="item">
                                <span class="value">1312</span>
                            </div>
                            <div class="item">
                                <span class="value">ce kavo</span>
                            </div>
                            <div class="item">
                                <span class="value">1312</span>
                            </div>
                        </div>
                    </div>
                    <div class="included-not-tags">
                        <div class="included-title"><p>Отсутствие тегов:</p></div>
                        <div class="included-not-tags-content">
                            <div class="item">
                                <span class="value">ce kavo</span>
                            </div>
                            <div class="item">
                                <span class="value">1312</span>
                            </div>
                        </div>
                    </div>
                    <div class="included-attributes">
                        <div class="included-title"><p>Атрибуты: </p></div>
                        <div class="included-attributes-content">
                            <div class="item">
                                <span class="value">Год = 2010</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="conditions-group">
                <div class="disjunction"></div>
                    <div class="included-tags">
                        <div class="included-title"><p>Теги: </p></div>
                        <div class="included-tags-content">
                            <div class="item">
                                <span class="value">ce kavo</span>
                            </div>
                            <div class="item">
                                <span class="value">1312</span>
                            </div>
                        </div>
                    </div>
                    <div class="included-not-tags">
                        <div class="included-title"><p>Отсутствие тегов:</p></div>
                        <div class="included-not-tags-content">
                            <div class="item">
                                <span class="value">ce kavo</span>
                            </div>
                            <div class="item">
                                <span class="value">1312</span>
                            </div>
                        </div>
                    </div>
                    <div class="included-attributes">
                        <div class="included-title"><p>Атрибуты: </p></div>
                        <div class="included-attributes-content">
                            <div class="item">
                                <span class="value">Автор = Суходрищев</span>
                            </div>
                        </div>
                    </div>
                </div>

                -->

            </div>
        </div>
    </div>


  <!-- Модальные окна -->
    <!-- Индикатор загрузки -->
    <div class="loader" style="display: none;">
        <div class="cssload-container">
            <div class="cssload-double-torus"></div>
        </div>
    </div>
    <!-- Индикатор загрузки -->

  </div>
  </section>
