<!-- Вывод результатов поиска -->
<script id="view-template" type="text/x-handlebars-template">
    <div class="page-content center-in-div">

    {{#if data.data.rows.length}}
        <button id="export-xml" class="content-action click-button">
          Экспорт результатов в XML
        </button>
        <button id="export-json" class="content-action click-button">
          Экспорт результатов в JSON
        </button>
    {{/if}}

    <!-- Каждый кортеж -->
      {{#each data.data.rows}}
      <ul class="list-float-none" style="display: block;">
        <li class="standart-button">

        <!-- Каждое поле в кортеже -->
          {{#each this as |value key|}}

            <!-- Значение поля -->
            {{#if value}}
              {{#if ../../properties.separateByBr}}

                <p>{{key}}:
                <span>{{this}}</span></p>
              {{else}}
                <span class="exists-value">
                {{key}}: <span>{{this}}</span></span>
              {{/if}}
            {{else}}

              <!-- Показывать нулевые значения -->
              {{#if ../../../properties.showNullValues}}

                {{#if ../../../properties.separateByBr}}
                  <p>{{key}}:
                  <span style="font-weight: bold;">null</span></p>
                {{else}}
                  <span class="null-value">
                    {{key}}: <span style="font-weight: bold;">null</span>
                  </span>
                {{/if}}

              {{else}}

                <span style="display: none;" class="null-value">
                  {{key}}: <span style="font-weight: bold;">null</span>
                </span>

              {{/if}}


            {{/if}}


          {{/each}}
        </li>
      </ul>
      {{/each}}
    </div>

</script>
<!-- Вывод результатов поиска -->

<script id="export-xml-template" type="text/x-handlebars-template">
  <Search>
    <SearchConditions>
      {{#each JsonData}}
        <ConditionsGroup>
        {{#each this}}
          <descriptor>
            <id>{{this.id}}</id>
            <name>{{this.name}}</name>

            {{#if this.number}}
            <number>{{this.number}}</number>
            {{/if}}

            {{#if this.relation}}
            <relation>{{{this.relation}}}</relation>
            {{/if}}

            {{#if this.type}}
            <type>{{this.type}}</type>
            {{/if}}

          </descriptor>
        {{/each}}
        </ConditionsGroup>
      {{/each}}
    </SearchConditions>
    <SearchResults>
      {{#each SearchResults.data.rows}}
        <tuple>
          {{#each this as |value key|}}
            <column>
              <name>{{key}}</name>
              <value>{{value}}</value>
            </column>
          {{/each}}
        </tuple>
      {{/each}}
    </SearchResults>
  </Search>
</script>

<script id="export-json-template" type="text/x-handlebars-template">
  {
    "searchConditions": {
      {{#each JsonData}}
        "group": {
          {{#each this}}
            "descriptor": {
              {{#each this}}
                "{{@key}}": "{{{this}}}"{{#unless @last}},{{/unless}}
              {{/each}}
            }{{#unless @last}},{{/unless}}
          {{/each}}
        }{{#unless @last}},{{/unless}}
      {{/each}}
    },


    "searchResults": {

      {{#each SearchResults.data.rows}}
        "tuple": {
          {{#each this as |value key|}}
            "column": {
              "name": "{{key}}",
              {{#if value}}
              "value": "{{value}}"
              {{else}}
              "value": "null"
              {{/if}}
            }{{#unless @last}},{{/unless}}
          {{/each}}
        }{{#unless @last}},{{/unless}}
      {{/each}}
    }


  }
</script>