<!-- Вывод результатов поиска -->
<script id="view-template" type="text/x-handlebars-template">
    <div class="page-content center-in-div">

    <!-- Каждый кортеж -->
      {{#each data.data.rows}}
      <ul class="list-float-none" style="display: block;">
        <li class="standart-button">

        <!-- Каждое поле в кортеже -->
          {{#each this as |value key|}}

            <!-- Значение поля -->
            {{#if value}}
              {{#if ../../properties.separateByBr}}

                <p>{{key}}:
                <span>{{this}}</span></p>
              {{else}}
                <span>{{key}}: <span>{{this}}{{#unless @last}}, {{/unless}}</span></span>
              {{/if}}
            {{else}}

              <!-- Показывать нулевые значения -->
              {{#if ../../../properties.showNullValues}}
                {{#if ../../../properties.separateByBr}}
                  <p>{{key}}:
                  <span style="font-weight: bold;">null</span></p>
                {{else}}
                  <span>{{key}}: <span style="font-weight: bold;">null</span>{{#unless @last}}, {{/unless}} </span>
                {{/if}}
              {{/if}}

            {{/if}}


          {{/each}}
        </li>
      </ul>
      {{/each}}
    </div>

</script>
<!-- Вывод результатов поиска -->